$Mobile: 375px;
$Desktop: 1440px;

$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);

$Soft-violet: hsl(273, 75%, 66%);
$Soft-blue: hsl(240, 73%, 65%);

$Very-dark-grayish-blue: hsl(237, 12%, 33%);
$Dark-grayish-blue: hsl(240, 6%, 50%);

$Light-grayish-blue: hsl(240, 5%, 91%);

$Font-size: 12px;

$Weights: 400, 700;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient( $Soft-violet, $Soft-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: $Desktop;
    min-height: 100vh;
    position: relative;
    padding: 7em 1em;
    color: $very-dark-desaturated-blue;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.accordion__item{
    border-bottom: 1px solid $Light-grayish-blue ;
}

.mainBox{
    background: #fff;
    border-radius: 25px;
    width: 90%;
    min-height: 450px;
    margin:0 auto;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 15em;
    background-position: center 0%;
    padding: 46px 20px;
    .leftSide{
        position: relative;
        #girl{
            position: absolute;
            top: -9.5em;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 100%;
            height: auto;
            max-width: 15em;
        }
    }
    .rightSide{
        padding-top: 5em;
        h1{
            margin-bottom: 1em;
            padding-left: .4em;
        }
        
    }
    
    #box{
        display: none;
    }
    .accordion__item{
        transition: 0.3s ease;
        padding: 0.5em 1em;
        &:hover{
            background: rgb(238, 238, 238);
        }
    }
    .question{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: left;
        border: none;
        margin: .5em 0;
        background: transparent;
        padding: 0;
        font-size: .9rem;
        font-family: 'Kumbh Sans', sans-serif;
        cursor: pointer;
    }
    .question.open{
        font-weight: 700;
    }
    .question::after{
        content: '';
        display: block;
        width: 10px;
        height: 1em;
        background-image: url(./images/icon-arrow-down.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 0.3s ease;
        margin: .5em 0;
    }
    .content{
        font-size: 0.75rem;
        line-height: 1.4;
        display: block;
        padding: 0 1em 1em 0;
    }
    .question.open{
        font-weight: 700;
    }
    .question.open::after{
        transform: rotate(180deg);
    }
    .answer.collapse{
        display: none;
    }
}


@media (min-width:900px){
    .mainBox{
        position: relative;
        display: flex;
        width: 900px;
        height: auto;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: 45%;
        background-position: -13% center;
        padding: 50px 50px 50px 0;
        .leftSide{
            display: flex;
            align-items: center;
            overflow: hidden;
            #girl{
                //transform: translateX(-4em);
                //max-width: 25em;
                top: auto;
                left: auto;
                top: 0%;
                left: 0%;
                transform: translateX(-15%);
                max-width: 100%;
            }
        }
        .rightSide{
            padding-top: 0;
        }
        #box{
            display: block;
            position: absolute;
            left: 0;
            top: 16em;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;
        }
    }
    .leftSide , .rightSide {
        flex: 1;
    } 
}